/*=============================
	07. Rounded CSS Start
===============================*/
.rounded-6 {
  border-radius: 6px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-30 {
  border-radius: 30px;
}