/*=============================
	31. Pagination CSS Start
===============================*/
.pagination {
  ul {
    li {
      a {
        width: 40px;
        height: 40px;
        background: var(--bs-color2);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: var(--bs-primary-color);

        &.active {
            background: var(--bs-primary-color);
            color: var(--bs-white-color);
        }

        &:hover {
          background: var(--bs-primary-color);
          color: var(--bs-white-color);
        }
      }
    }
  }
}