/*=============================
	09. Vedio CSS Start
===============================*/

.tc_vedio_section {
	padding: 177px 0;
	@media (max-width: 991.98px) {
				padding: 130px 0;
			}
	@media (max-width: 575.98px) {
				padding: 85px 0;
			}

	.vedio_main {
		a {
			width: 136px;
			height: 136px;
			background: url(../images/img/video_play_bg.png);
			padding: 24px;
			transition: var(--transition);
			span {
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 500;
				line-height: 150%;
				color: var(--white-color);
			}
			&:hover{
				transform: scale(1.1);
				transition: var(--transition);
			}
		}
	}
}
